<section>
  <div>
    <app-search
      placeholderText="Search Repos"
      id="search-repos"
      (searchQueryEvent)="receiveSearchQuery($event)"
      (input)="searchRepos()"
    ></app-search>
  </div>
  <aside>
    <app-languages-filter
      (languageEvent)="receiveSelectedLanguage($event)"
      (change)="filterByLanguage()"
    ></app-languages-filter>
  </aside>
  <div>
    <app-sort-repos
      name="sort-options"
      id="sort-options"
      (sortOptionEvent)="receiveSortOption($event)"
      (change)="sortRepos()"
    ></app-sort-repos>
  </div>
</section>

<main *ngFor="let repo of filteredRepos; index as i">
  <app-repo-card [repoData]="{repo}"></app-repo-card>
</main>
