<section>
  <div>
    <input
      type="search"
      placeholder="Search Repos"
      [(ngModel)]="repoSearchQuery"
      (input)="searchRepos()"
    />
  </div>
  <div>
    <label>Sort by: </label>
    <select  [(ngModel)]="selectedSort" (change)="sortRepos()">
      <option>Newest</option>
      <option>Oldest</option>
      <option>Alphabetically</option>
    </select>
  </div>
</section>

<main *ngFor="let repo of filteredRepos; index as i">
  <app-repo-card [repoData]="{repo}"></app-repo-card>
</main>

<aside>
  <ul>
    <li>All repositories (12)</li>
  </ul>
</aside>
