<div>
  <header>
    <h2>{{repoData.repo.name}}</h2>
    <p>{{repoData.repo.description}}</p>
  </header>
  <main>
    <ul>
      <li>
        <span>icon</span>
        <p>{{repoData.repo.forks_count}}</p>
        <p>Forks</p>
      </li>
      <li>
        <span>icon</span>
        <p>{{repoData.repo.watchers_count}}</p>
        <p>Watchers</p>
      </li>
      <li>
        <span>icon</span>
        <p>{{repoData.repo.stargazers_count}}</p>
        <p>Stars</p>
      </li>
    </ul>
  </main>
  <footer>
    <ul>
      <li>Created at: 12/12/2023</li>
      <li>Last update: 12/12/2023</li>
      <li>Repo size: 1222</li>
    </ul>
    <span>{{repoData.repo.languages}}</span>
  </footer>
</div>
