<!--  <div *ngFor="let stat of stats; index as i">
 <fa-icon [icon]=stats[i].statIcon></fa-icon>

  <div>
    <h2>{{stats[i].stat}}</h2>
    <p>{{stats[i].statName}}</p>
  </div>
</div> -->

<div class="md:flex" >
  <div class="stat" *ngFor="let stat of stats; index as i">
    <div class="stat-title">{{ stats[i].statName }}</div>
    <div class="stat-value text-primary text-2xl sm:text-4xl">{{ stats[i].stat }}</div>
    <div class="stat-figure text-primary">
      <fa-icon [icon]="stats[i].statIcon"></fa-icon>
    </div>
  </div>
</div>
