<div>
  <header>
    <h2>Repository name</h2>
    <p>Description</p>
  </header>
  <main>
    <ul>
      <li>
        <span>icon</span>
        <p>12</p>
        <p>Forks</p>
      </li>
      <li>
        <span>icon</span>
        <p>12</p>
        <p>Watchers</p>
      </li>
      <li>
        <span>icon</span>
        <p>12</p>
        <p>Stars</p>
      </li>
    </ul>
  </main>
  <footer>
    <ul>
      <li>Created at: 12/12/2023</li>
      <li>Last update: 12/12/2023</li>
      <li>Repo size: 1222</li>
    </ul>
    <span>Language</span>
  </footer>
</div>
