<section>
  <button class="link link-hover" [routerLink]="['']">
    <fa-icon [icon]="arrowLeftIcon"></fa-icon>
    Back
</button>

  <div>
    <div class="flex gap-5 text-6xl">
      <span>
        <fa-icon [icon]="githubUserIcon"></fa-icon>
      </span>
      <div>
        <h1 class="font-bold">{{ user?.name }}</h1>
        <a class="link link-primary link-hover text-lg" href="{{ user?.html_url }}" target="_blank">
          <p>@{{ user?.login }}</p>
        </a>
      </div>
    </div>
  </div>
</section>
